<div class="container">

  <table class="table table-striped table-bordered">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>PictureURL</th>
    </tr>

    <% @cars.each do |thisCar| %>
      <tr>
        <td><%= thisCar.id %></td>
        <td><%= thisCar.name %></td>
        <td><%= thisCar.picture__c %></td>
      </tr>
    <% end %>
  </table>

</div>
